div.move_title {
        font-size: 30px;
        letter-spacing: 5px;
	width: 50%;
        height: 10%;
        position: fixed;
        top: 0;
        left: 0;
    	animation: move_title 0.5s forwards;
        text-align: left;
}

@keyframes move_title {
 	0%   { left:80%; top:23%; }
    	100%  { left:24.8%; top:23%; } 
}


div.move_line {
	width: 50%; 
        height: 1px;
        position: fixed;         
        background: #fff; 
	animation: move_line 0.5s forwards;
}


@keyframes move_line {
	0%   { left:-80%; top:30%; }
    	100%  { left:25%; top:30%; }
}

div.fade_info  {
	width: 50%;
        height: 20%;
	position: fixed;
        top: 300px;
        left: 25%;
	text-align: left;
}

p#fade_info_1 {
	width: 50%;
        height: 10%;
	position: fixed;
	top: 32%;
        left: 25%;
	animation: fade_info 1s;
	word-wrap: break-word;
}

p#fade_info_2 {
	width: 50%;
        height: 10%;
	position: fixed;
	top: 42%;
        left: 25%;
        animation: fade_info 2s;
}

p#fade_info_3 {
	width: 50%;
        height: 10%;
	position: fixed;
        top: 62%;
        left: 25%;
        animation: fade_info 3s;
}


@keyframes fade_info {
    from { opacity: 0; }
    to   { opacity: 1; }
}



div.move_back:target {
	width: 100%;
        height: 100%;
        position: fixed;
        background: red;
        top: 0px;
        left: 0px;
	animation: back 0.5s forwards;
}


@keyframes back {

	0%   { left:-1000px; top:0px;}
    	100%  { left:0px; top:0px;} 
}


button#return {

	width: 16%;
  	height: 5%;
  	background: #1A1A1A;
  	font-family: inherit; 
  	font-weight: bold;
  	color: inherit;
  	letter-spacing: 1px;
  	border-radius: 5px 5px 5px 5px;
  	cursor: pointer;
  	transition: background .3s ease-in-out;

	position: fixed;
        bottom: 20%;
        left: 42%;
}

@media only screen and (max-width: 500px) {

	p#fade_info_2 {
		top: 52%;
	}

	p#fade_info_3 {
                top: 62%;
        }

}
